.hide-when-mobile {
    display: flex;
    justify-content: space-around;
  }
  .icons{

    
  }
  .signout{
    all:unset;
    padding: 8px 15px;
  }
  .show-when-mobile {
    display: none;
  }
  @media (max-width:800px) {
    .show-when-mobile {
        display: block;
      }
      
      .hide-when-mobile {
        display: none;
      }
  }